#record-create-content{
    position: relative;
    width: 98%;
    margin-top: 10px;
    background-color: #ffffff;
    margin-left: 1%;
    height: auto;
    padding: 10px;
}

.input-learning-content{
    margin: 15px 0 10px 0;
}

.record-modal-footer-button{
    text-align: center;
    margin: 10px;
}

.record-modal-footer-button button{
    margin: 0 10px 0 10px;
}