.learning-history-table{
    position: relative;
    width: 98%;
    margin-top: 10px;
    background-color: #ffffff;
    margin-left: 1%;
    height: auto;
    padding: 10px;
}

.learning-history-table table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.learning-history-table table th,
.learning-history-table table td{
    padding: 10px 0;
    text-align: center;
}

.learning-history-table table th{
    background-color: #aaa5a5;
    color: #fff;
}

.learning-history-table table tr:nth-child(odd){
    background-color: #eee
  }

