body{
    background: #e6ecf0;
}

/* ヘッダー */
.mdl-layout__header{
    background-color: #ffffff;
    color: #333333;
}

.mdl-layout__header{
    display: initial !important;
}

/* メニューリンク */
.mdl-layout__header-row .mdl-navigation__link{
    color: #333333;
}

.mdl-layout__header-row{
    padding: 0 40px 0 50px;
}

.floating-action-button{
    bottom: 1rem;
    position: fixed;
    right: 2rem;
    z-index: 1000;
}

.floating-action-button button{
    margin: 10px;
}

.statistics-data-list{
    position: relative;
    width: 100%;
}


/* モーダル */
.learning-plan-create-modal-wrapper,
.private-plan-create-modal-wrapper,
.learning-plan-detail-modal-wrapper,
.private-plan-detail-modal-wrapper,
.learning-record-create-modal-wrapper,
.learning-record-detail-modal-wrapper,
.learning-setting-modal-wrapper,
.history-detail-modal-wrapper,
.statistics-modal-wrapper,
.reflection-confirm-modal-wrapper,
.reflection-detail-modal-wrapper{
    display: flex;
    justify-content: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.5s, transform 0s 0.5s;
    transform: scale(0);
}
.learning-plan-create-modal-wrapper.is-visible,
.private-plan-create-modal-wrapper.is-visible,
.learning-plan-detail-modal-wrapper.is-visible,
.private-plan-detail-modal-wrapper.is-visible,
.learning-record-create-modal-wrapper.is-visible,
.learning-record-detail-modal-wrapper.is-visible,
.learning-setting-modal-wrapper.is-visible,
.history-detail-modal-wrapper.is-visible,
.statistics-modal-wrapper.is-visible,
.reflection-confirm-modal-wrapper.is-visible,
.reflection-detail-modal-wrapper.is-visible{
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s;
}
.plan-modal{
    align-self: flex-start;
    width: 60%;
    box-sizing: border-box;
    background: #fff;
    line-height: 1.4em;
    transform: translateY(60px);
    transition: 0.5s;
    border-radius: 10px;
    overflow: scroll;
}

.plan-modal #modal-header{
    position: relative;
    height: 50px;
    border-bottom: 1px #c2c2c2 solid;
    width: 100%;
    padding: 15px 0px 10px 20px;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
}

#modal-header .header-cansel-button{
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
}

.plan-modal #modal-content{
    padding: 20px;
}

#modal-content .form-group.pmd-textfield{
    width: 100%;
}

#modal-content label.required::after{
    color: red;
    content: " *";
}

.learning-add-button,
.private-add-button,
.plan-modal-footer-button,
.private-edit-button{
    text-align: center;
    margin: 10px;
}

.plan-modal-footer-button button{
    margin: 0 10px 0 10px;
}

.form-tag{
    display: flex;
}

.form-tag .tag{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

.form-tag #red{
    background: #EF9A9A;
}

.form-tag #yellow{
    background: #FFF59D;
}

.form-tag #green{
    background: #A5D6A7;
}

.form-tag #red.active{
    background: #F44336;
}

.form-tag #yellow.active{
    background: #FFEB3B;
}

.form-tag #green.active{
    background: #4CAF50;
}

.modal-error{
    color: #EF6262;
    margin-bottom: 10px;
    font-size: 15px;
}

.totalLearningTime{
    float: right;
    margin: 0 50px 20px 0;
}

.input-learning-content{
    margin: 15px 0 10px 0;
}

.record-modal-footer-button{
    text-align: center;
    margin: 10px;
}

.record-modal-footer-button button{
    margin: 0 10px 0 10px;
}

.learning-history-table{
    position: relative;
    margin-top: 10px;
    background-color: #ffffff;
    margin-left: 1%;
    max-height: 270px;
    overflow-y: scroll;
    padding: 10px;
    width: 35%;
}

.table tbody tr td,
.table thead tr th{
    border: 1px solid #ddd;
    padding: 10px 0;
    line-height: 1;
    vertical-align: middle;
    font-size: 14px;
}

.learning-history-table table{
    width: 100%;
    border-collapse: collapse;
}

.learning-history-table table th,
.learning-history-table table td{
    text-align: center;
}

.learning-history-table table th{
    background-color: #0288D1;
    color: #fff;
}

.learning-history-table table td{
    cursor: pointer;
}

.learning-history-table table tr.select{
    background-color: #E1F5FE;
}

#total-learning-time-table{
    margin: 10px;
}

#total-learning-time-table table{
    border-collapse: collapse;
    width: auto;
}

#total-learning-time-table table th,
#total-learning-time-table table td{
    text-align: center;
    border: 1px solid #c2c2c2;
    vertical-align: middle;
    padding: 10px;
    font-weight: normal;
}

.learning-history-content{
    position: relative;
    width: 98%;
    margin-top: 10px;
    background-color: #ffffff;
    margin-left: 1%;
    padding: 10px;
}

.calender-display-content{
    display: none;
}

.calender-display-content.active{
    display: initial;
}

.calender-display-header{
    display: flex;
    justify-content: space-between;
}

.calender-display-header .calender-select{
    float:left;
    margin-left: 15px;
}

.calender-display-header .calender-switch{
    float: right;
    padding: 0 30px 10px 0;
}

.calender-display-header .calender-switch .mdl-radio__label{
    font-weight: initial !important;
}

.calender-display-header .calender-switch .mdl-radio{
    margin: 0 10px 0 0;
}

.new-plan-create{
    width: 35%;
    text-align: center;
    position: relative;
    background-color: #ffffff;
    padding: 10px;
}

.new-plan-create button{
    margin-bottom: 20px;
}

.history-detail-button.mdl-button,
.history-regist-button.mdl-button,
.history-statistics-button.mdl-button,
.history-chatbot-button.mdl-button,
.display-comment-button.mdl-button,
.chatbot-history-comp-button.mdl-button,
.regist-plan-button,
.regist-record-button,
.chatbot-history-button{
    height: auto;
    line-height: 1;
    font-size: 14px;
    min-width: 0px;
}

label{
    font-weight: normal;
    font-size: 17px;
}

.learning-plan-create-modal-wrapper .header-title,
.learning-plan-detail-modal-wrapper .header-title{
    color: #0288D1;
}

.learning-record-create-modal-wrapper .header-title,
.learning-record-detail-modal-wrapper .header-title{
    color: #FB8C00;
}


.learning-history-chart{
    display: flex;
    width: 70%;
    overflow-x: scroll;
}

.learning-history-chart-div{
    width: 100%;
}

.learning-history-chart-item{
    width: 100%;
}

.log-table thead th,
.log-table tbody tr td{
    text-align: center;
}

.learning-history-reflection{
    position: relative;
    margin: 10px 1% 10px 2%;
    padding: 25px 10px 7px;
    border: solid 1px #0288D1;
}

.learning-history-reflection .box-title{
    position: absolute;
    display: inline-block;
    top: -2px;
    left: -2px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    background: #0288D1;
    color: #ffffff;
    font-weight: bold;
}

.learning-history-reflection p{
    margin: 0; 
    padding: 0;
}

.reflection-answer{
    margin: 10px;
}