.plan-create-modal-wrapper,
.plan-detail-modal-wrapper,
.analysis-result-modal-wrapper,
.plan-check-modal-wrapper{
    display: flex;
    justify-content: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.5s, transform 0s 0.5s;
    transform: scale(0);
}
.plan-create-modal-wrapper.is-visible,
.plan-detail-modal-wrapper.is-visible,
.analysis-result-modal-wrapper.is-visible,
.plan-check-modal-wrapper.is-visible{
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s;
}
.plan-modal{
    align-self: flex-start;
    width: 60%;
    height: 80%;
    box-sizing: border-box;
    background: #fff;
    line-height: 1.4em;
    transform: translateY(40px);
    transition: 0.5s;
    border-radius: 10px;
}

.plan-modal #modal-header{
    position: relative;
    height: 50px;
    border-bottom: 1px #c2c2c2 solid;
    width: 100%;
    padding: 15px 0px 10px 20px;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
}

#modal-header .header-cansel-button{
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
}

.plan-modal #modal-content{
    padding: 20px;
}

#modal-content .form-group.pmd-textfield{
    width: 100%;
}

.add-button,
.edit-button,
.check-button{
    text-align: center;
    margin: 10px;
}

.add-button button,
.edit-button button,
.check-button button{
    width: 100px;
    background-color: #2196F3;
    color: #ffffff;
    font-weight: bold;
}

.add-button button:hover,
.edit-button button:hover,
.check-button button:hover{
    background: #1976D2;
}