.planCreate-content{
    position: relative;
    width: 98%;
    margin-top: 10px;
    background-color: #ffffff;
    margin-left: 1%;
    height: 95%;
}
.header-menu{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0 10px 0;
    width: 100%;
    border-bottom: 0.5px solid #c9c9c9;
}
.header-menu button{
    font-size: 17px;
}
.header-menu button.unselected{
    color: #c9c9c9;
}
.header-menu i{
    font-size: 2em;
    color: #c9c9c9;
}

.analysis-form,
.learning-list-form{
    height: auto;
    margin: 3em auto;
    width: 80%;
}
.pmd-textfield-floating-label label{
    font-size: 15px;
    margin-bottom: 30px;
    color: gray;
}

.form-group.pmd-textfield{
    width: 100%;
}

.regist-button{
    text-align: center;
    margin: 10px;
}

.regist-button button{
    width: 100px;
    background-color: #2196F3;
    color: #ffffff;
    font-weight: bold;
}

.regist-button button:hover{
    background: #1976D2;
}

.planProgress{
    position: relative;
    text-align: right;
    margin: 30px;
    width: 30%;
    float: right;
}

.progress label{
    font-weight: normal;
    font-size: 17px;
    background-color: #ffffff;
    color: #333333;
}

.progress-title{
    float: left;
}

.progress-persent{
    float: right;
}

.progress-bar-success{
    background-color: #2196F3;
}

.learning-list-item-example{
    display: flex;
    margin-bottom: 30px;
}

.form-group.learning-content{
    width: 90%;
    margin-right: 30px; 
}

.form-group.expected-time{
    width: 30%;
}

.learning-list-item{
    display: flex;
}

.floating-action-button{
    bottom: 1rem;
    position: fixed;
    right: 2rem;
    z-index: 1000;
}

.floating-action-button button{
    margin: 10px;
}