.planCreate-content{
    position: relative;
    width: 98%;
    margin-top: 10px;
    background-color: #ffffff;
    margin-left: 1%;
    height: 95%;
}
.header-menu{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0 10px 0;
    width: 100%;
    border-bottom: 0.5px solid #c9c9c9;
}
.header-menu button{
    font-size: 17px;
}
.header-menu button.unselected{
    color: #c9c9c9;
}
.header-menu i{
    font-size: 2em;
    color: #c9c9c9;
}

.analysis-form,
.learning-list-form{
    height: auto;
    margin: 3em auto;
    width: 80%;
}
.pmd-textfield-floating-label label{
    font-size: 15px;
    margin-bottom: 30px;
    color: gray;
}

.form-group.pmd-textfield{
    width: 100%;
}

.regist-button{
    text-align: center;
    margin: 10px;
}

.regist-button button{
    width: 100px;
    background-color: #2196F3;
    color: #ffffff;
    font-weight: bold;
}

.regist-button button:hover{
    background: #1976D2;
}

.planProgress{
    position: relative;
    text-align: right;
    margin: 30px;
    width: 30%;
    float: right;
}

.progress label{
    font-weight: normal;
    font-size: 17px;
    background-color: #ffffff;
    color: #333333;
}

.progress-title{
    float: left;
}

.progress-persent{
    float: right;
}

.progress-bar-success{
    background-color: #2196F3;
}

.learning-list-item-example{
    display: flex;
    margin-bottom: 30px;
}

.form-group.learning-content{
    width: 90%;
    margin-right: 30px; 
}

.form-group.expected-time{
    width: 30%;
}

.floating-action-button{
    bottom: 1rem;
    position: fixed;
    right: 2rem;
    z-index: 1000;
}

.floating-action-button button{
    margin: 10px;
}

.reference-data{
    position: relative;
    padding: 20px;
    width: 100%;
}

.reference-data-title{
    display: flex;
}

.reference-data-list .learning-list-item,
.reference-data-list .plan-reference-item{
    padding: 0 16px;
    margin: 10px 20px;
    background: #f9f9f9;
    border-left: solid 10px #2196F3;
    display: none;
}

.reference-data-list .learning-list-item p{
    padding: 7px;
    margin: 0;
}

.plan-reference-item{
    display: none;
}

.plan-reference-item.show{
    display: inline;
}

.plan-reference-chart{
    display: flex;
    width: 100%;
}

.plan-reference-chart div{
    padding: 10px;
    width: 50%;
}

#learning-setting-content,
#learning-list-create-content,
#plan-create-content{
    display: none;
}

#learning-setting-content.show,
#learning-list-create-content.show,
#plan-create-content.show{
    display: initial;
}

.learning-list-form .learning-list-item{
    display: flex;
}

.reference-data-title .learning-list-button{
    display: none;
}

.reference-data-title .learning-list-button.show{
    display: initial;
}



/* モーダル */
.learning-plan-create-modal-wrapper,
.private-plan-create-modal-wrapper,
.plan-detail-modal-wrapper,
.analysis-result-modal-wrapper,
.plan-check-modal-wrapper{
    display: flex;
    justify-content: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.5s, transform 0s 0.5s;
    transform: scale(0);
}
.learning-plan-create-modal-wrapper.is-visible,
.private-plan-create-modal-wrapper.is-visible,
.plan-detail-modal-wrapper.is-visible,
.analysis-result-modal-wrapper.is-visible,
.plan-check-modal-wrapper.is-visible{
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s;
}
.plan-modal{
    align-self: flex-start;
    width: 60%;
    height: 80%;
    box-sizing: border-box;
    background: #fff;
    line-height: 1.4em;
    transform: translateY(40px);
    transition: 0.5s;
    border-radius: 10px;
    overflow: scroll;
}

.plan-modal #modal-header{
    position: relative;
    height: 50px;
    border-bottom: 1px #c2c2c2 solid;
    width: 100%;
    padding: 15px 0px 10px 20px;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
}

#modal-header .header-cansel-button{
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
}

.plan-modal #modal-content{
    padding: 20px;
}

#modal-content .form-group.pmd-textfield{
    width: 100%;
}

.learning-add-button,
.private-add-button,
.edit-button,
.check-button{
    text-align: center;
    margin: 10px;
}

.learning-add-button button,
.private-add-button button,
.edit-button button,
.check-button button{
    width: 100px;
    background-color: #2196F3;
    color: #ffffff;
    font-weight: bold;
}

.learning-add-button button:hover,
.private-add-button button:hover,
.edit-button button:hover,
.check-button button:hover{
    background: #1976D2;
}

.form-tag{
    display: flex;
}

.form-tag .tag{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

.form-tag #red{
    background: #EF9A9A;
}

.form-tag #yellow{
    background: #FFF59D;
}

.form-tag #green{
    background: #A5D6A7;
}

.form-tag #red.active{
    background: #F44336;
}

.form-tag #yellow.active{
    background: #FFEB3B;
}

.form-tag #green.active{
    background: #4CAF50;
}
