<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="./../css/help.css">
<title>ヘルプページ</title>
</head>
<body>
<div class="help-page">
    <div class="toc">
        <h1>目次</h1>
        <ol>
            <li>授業回の登録</li>
            <li>学習計画の追加</li>
            <li>学習記録の追加</li>
            <li>テストの点数や学習満足度の登録</li>
            <li>その他</li>
        </ol>
    </div>
    <div class="help-item">
        <h2>授業回の登録</h2>
        <ol>
            <li>「授業の登録」ボタンを選択します。</li>
            <li>予習する授業範囲、選択した授業日、授業範囲に対する理解度、事前テストの目標点数をそれぞれ選択します。</li>
            <li>選択を終えたら「登録」ボタンを選択します。</li>
        </ol>
    </div>
    <div class="help-item">
        <h2>学習計画の追加</h2>
        <ol>
            <li>画面右下にある「＋」ボタンを選択します。</li>
            <li>学習内容、学習日、学習時間、メモ(任意)をそれぞれ入力します。</li>
            <li>入力を終えたら「追加」ボタンを選択します。</li>
            <li>カレンダーに追加した内容が反映されます。</li>
        </ol>
    </div>
    <div class="help-item">
        <h2>学習記録の追加</h2>
        <ol>
            <li>画面右下にある「✔︎」ボタンを選択します。</li>
            <li>学習内容、学習日、学習時間、メモ(任意)をそれぞれ入力します。</li>
            <li>入力を終えたら「追加」ボタンを選択します。</li>
            <li>カレンダーに追加した内容が反映されます。</li>
        </ol>
    </div>
    <div class="help-item">
        <h2>事前テストの点数や学習満足度の登録</h2>
        <ol>
            <li>画面上にあるテーブルから該当する授業回の「詳細」ボタンを選択します。または，テーブルの各項目にある「登録する」ボタンを選択します。</li>
            <li>「事前テストの点数」や「今回の学習の満足度」を選択します。</li>
            <li>選択を終えたら「編集」ボタンを選択します。</li>
            <li>選択した内容がテーブルに反映されます。</li>
        </ol>
    </div>
    <div class="help-item">
        <h2>その他</h2>
        <ul>
            <li>学習計画の修正</li>
            <p>カレンダーに表示されている学習計画を選択します。</p>
            <p>「学習計画の詳細」画面が表示されるので、該当する箇所を修正します。</p>
            <p>修正を終えたら「編集」ボタンを選択します。</p>

            <li>学習記録の修正</li>
            <p>カレンダーに表示されている学習記録を選択します。</p>
            <p>「学習記録の詳細」画面が表示されるので、該当する箇所を修正します。</p>
            <p>修正を終えたら「編集」ボタンを選択します。</p>

            <li>過去の学習計画や学習記録を参照する</li>
            <p>画面上にあるテーブルから参照したい授業回を選択します。</p>
            <p>選択した授業回に追加した学習計画や学習記録がカレンダーに表示されます。</p>
        </ul>
    </div>
    <p>その他，質問などがありましたら g031o008@s.iwate-pu.ac.jp までご連絡ください。</p>
</div>
</body>